h1{
  color: pink;
}
.nav{
  background-color: skyblue;
}

.nav ul{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin: 0;
  padding: 6px;
  list-style-type: none;
}

.nav a{
  display: block;
  border-radius: 4px;
  padding: 12px 24px;
  color: white;
  text-decoration: none;

}

.nav :hover{
  background: pink;
}
