body, h1, h2, h3, h4, h5, p, a {
  font-family: 'Cormorant Garamond', serif;
}
header {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("annie-spratt-OWq8w3BYMFY-unsplash.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
}
  h1{
  color: rgba(255, 255, 255, 0.8);
  font-size: 70px;
  margin: 0;
  padding: 0;
  font-weight: 100;

}
.heading-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  padding-top: 95px;
  white-space: nowrap;
}
.ghost-btn a{
  border: 4px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin: 30px auto;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  width: 220px;border-radius: 4px;
}
.ghost-btn :hover{
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
  transform: translateY(-2px);
}
.nav{
  background-color: skyblue;
}

.nav ul{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav a{
  display: block;
  border-radius: 4px;
  padding: 12px 24px;
  color: white;
  text-decoration: none;

}
.nav :hover{
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  transform: translateY(-2px);
}


.section {
  text-align: center;
  width: 100%;
  height: 100%;
  background-position: center;
  margin: 0.5rem;
  padding: 0.2rem;

}
.section-2 { background-color: yellow;
    font-size: 20px;
    text-decoration: none;

  }
.section-3 { background-color: orange; }
.section-4 { background-color: grey; }
.section-5 { background-color: crimson; }

.rows{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  }

.row {
display: flex;
margin-bottom: 1rem;
}

.row-text{
  background-color: rgba(0,0,0,0.2);
  padding: 2rem;

}
.row-number{
  padding: 2rem;
}
